/* font-family: 'Work Sans', sans-serif; */
/* common css */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* header style start */
header h1 {
  color: #111111;
  font-weight: 600;
  font-size: 45px;
}

header .btn,
.card-api .btn {
  padding: 10px 18px;
  font-weight: 600;
  font-size: 18px;
}
/* header style end */

/* card style start */
.card-api .card,
.card-modal .card {
  border: 1px solid rgb(88, 88, 88, 0.3);
}

.card-api .card-img,
.card-img-top {
  height: 200px;
}

.card-api .card-title {
  color: #111111;
  font-weight: 600;
  font-size: 25px;
}

.card-api ul li,
.card-date,
.card-modal .card-text,
.card-modal ul li {
  color: #585858;
  font-weight: 400;
}
.card-date {
  font-weight: 500;
}

.card-api .card-details {
  border: none;
  background-color: #faebeb;
  padding: 5px 10px;
  border-radius: 50%;
}

.card-api .card-details i {
  font-size: 20px;
  color: #eb5757;
}
/* card style end */

/* card modal styles start */

.card-modal .card-img-top {
  height: 220px;
  border-radius: 5px;
}

.card-modal .card-title {
  font-size: 23px;
}

.card-modal .card-text,
.card-modal ul li {
  font-size: 12px;
}

.card-text-info {
  padding: 20px 20px 0px;
}
/* .card-modal .card {
  padding: 20px;
} */

.card-modal .modal-info {
  border: 1px solid #eb5757;
  background-color: rgb(235, 87, 87, 0.1);
  padding-bottom: 40px;
}

.modal-price-container .modal-price {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 5px;
  font-weight: 700;
}
.modal-price-container .modal-price h5 {
  font-size: 16px;
}

.one {
  color: #03a30a;
}
.two {
  color: #f28927;
}
.three {
  color: #eb5757;
}

.col-5.me-auto {
  margin-top: 0;
}

.modal-header,
.modal-footer {
  border-top: 0px;
  border-bottom: 0px;
}
.card-body {
  position: relative;
}

.accuracy-btn {
  font-size: 14px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 9;
  background-color: #eb5757;
}
/* card modal styles end */
